<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pluvia</title>
  <%- include("partials/head") %>
  <%- include("partials/headadmin") %>
  <title>Document</title>
  <style>
    body {
  background-image: url('/img/m2fondo.png'); /* Asegúrate de poner la ruta correcta de tu imagen */
  background-size: cover;
  background-position: center;
}
  </style>
</head>
<body>
  <div>

    <!-------------------- Content Wrapper. Contains page content ---------------------->
    <div class="content" style="margin-top: 120px;">
      <!---------------------------------- Main content -->
      <div class="d-flex flex-column justify-content-center align-items-center" style= "height: 500px;">

        <img
        src="/img/LOGOPLUVIA.png"
        class="w-25 m-auto animated bounceIn"
        alt="Website Logo"
      />
      <h1 class="display-1 my-2 text-uppercase fw-bold">PLUVIA</h1>
      <a href="/about" class="btn btn-primary w-25">QUIENES SOMOS</a>

    <!-- Main Footer -->

      </div>
      <!-- /.content -->      
    </div>
    <!------------------------------ /.content-wrapper ---------------->
  
  

  </div>
</body>
</html>